@using MVCLibraryWebApplication.Models.Entity
@model List<TBL_PERSONEL>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kütüphane Görevlileri</h2>

<br />

<table class="table table-striped">
    <tr style="background-color: #FFB606">
        <th>ID</th>
        <th>ADI</th>
        <th>SOYADI</th>
        <th>GÜNCELLE</th>
        <th>SİL</th>
    </tr>

    @foreach (var personel in Model)
    {
        <tr>
            <td>@personel.ID </td>
            <td>@personel.AD</td>
            <td>@personel.SOYAD</td>
            <td><a href="/Personel/PersonelGetir/@personel.ID" class="btn btn-success">Güncelle</a></td>
            <td>@Html.ActionLink("Sil", "PersonelSil", new { id = personel.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek istiyor musunuz?')" })</td>
        </tr>
    }
</table>


<a href="/Personel/PersonelEkle" class="btn btn-primary">Yeni Görevli Ekle</a>