@using MVCLibraryWebApplication.Models.Entity
@model List<TBL_YAYINEVI>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yayınevleri</h2>

<br />

<table class="table table-striped">
    <tr style="background-color: #FFB606">
        <th>ID</th>
        <th>AD</th>
        <th>GÜNCELLE</th>
        <th>SİL</th>
    </tr>

    @foreach (var yayinevi in Model)
    {
        <tr>
            <td>@yayinevi.ID </td>
            <td>@yayinevi.AD</td>
            <td><a href="/Yayinevi/YayineviGetir/@yayinevi.ID" class="btn btn-success">Güncelle</a></td>
            <td>@Html.ActionLink("Sil", "YayineviSil", new { id = yayinevi.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek istiyor musunuz?')" })</td>
        </tr>
    }
</table>


<a href="/Yayinevi/YayineviEkle" class="btn btn-primary">Yeni Yayınevi Ekle</a>